{% extends 'admin/admin.html.twig' %}

{# {% block title %}Créer un nouvelle recette {% endblock %} #}
{% block title "Créer une recette" %}


{% block body %}
  
<h1>Créer une nouvelle recette</h1>

{{ form(form, {'method': 'POST'}) }}

{% endblock %}
